<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Teste api</title>

	<script src="https://code.jquery.com/jquery-3.6.3.js"
		integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" 
		crossorigin="anonymous"></script>
</head>

<body>
	
	
     <script>
		 
		 $(document).ready (
			 
			 function () {
				 
				 $.ajax({
					 url : "localhost:8080/cursospringrestapi/usuario/",
					 method: "GET"
				 }).then(function (data, status, info) {
					 alert(JSON.parse(data[0].id));
				 } );
				 
			 }
		 );
		 
	 </script>
</body>

</html>